@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

#root {
  max-width: 760px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background-color: #fff;
  border: none;
}

button:hover {
  background-color: #eee;
  cursor: pointer;
}

.steps-form {
  display: flex;
  margin-bottom: 20px;
}

.form-col {
  padding: 10px;
  display: flex;
  align-items: end;
}

.form-control {
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  line-height: 18px;
  height: 42px;
  vertical-align: middle;
  width: 100%;
}

.form-group {
  text-align: left;
}

.form-hint {
  display: inline-block;
  margin-bottom: 10px;
}

.steps-table {
  width: 100%;
}

.result-body {
  border: 2px solid #000;
  border-radius: 10px;
}

.result-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
}

.row-header {
  border: 2px solid transparent;
}

.result-controls {
  width: 100px;
}

.row-btn {
  padding: 5px;
  border-radius: 10px;
  font-size: 24px;
}

.result-date {
  text-align: left;
}

.result-controls {
  text-align: right;
}